// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


:root {
    --eerie-black: #212529;
    --onyx: #343A40;
    --davys-grey: #495057;
    --sonyc-silver: #6C757D;
    --card-blue-crayola: #ADB5BD;
    --light-gray: #CED4DA;
    --caisboro: #DEE2E6;
    --cultured: #E9ECEF;
    --cultured-1: #F8F9FA;
    --forest-green-traditional: #004B23;
    --dark-green-x11: #006400;
    --pakistan-green: #007200;
    --ao-english: #008000;
    --yellow-green-collor-wheel: #38B000;
    --sheen-green: #70E000;
    --green-lizard: #9EF01A;
    --electric-lime: #CCFF33;
    --xiketic: #03071E;
    --dark-sienna: #370617;
    --rosewood: #6A040F;
    --dark-red: #9D0208;
    --rosso-corsa: #D00000;
    --vermilion: #DC2F02;
    --persimmon: #E85D04;
    --tangerien: #F48C06;
    --orange-web: #FAA307;
    --selective-yellow: #FFBA08;
}